280NPLIST;1.0;D;K;16;CPSystemFontFaceS;24;SFNSText, Helvetica NeueK;26;CPApplicationDelegateClassS;20;BKShowcaseControllerK;12;CPBundleNameS;13;Aristo3.blendK;14;BKLearnMoreURLS;28;http://cappuccino.org/aristoK;22;BKLearnMoreButtonTitleS;16;Aristo Home PageK;16;CPPrincipalClassS;13;CPApplicationK;14;CPDefaultThemeS;7;Aristo3K;16;CPSystemFontSizeS;2;13K;29;CPBundleInfoDictionaryVersiond;1;6K;18;CPBundleIdentifierS;22;com.280n.blend.Aristo3K;15;CPBundleVersionf;3;0.1K;19;CPBundlePackageTypeS;4;BLNDK;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;16;Aristo3.blend.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;K;13;CPKeyedThemesA;S;18;Aristo3.keyedthemeE;E;