<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CPBundleIdentifier</key>
	<string>de.michaelbach.FrACT10</string>
	<key>CPBundleName</key>
	<string>FrACT10</string>
	<key>CPBundleVersion</key>
	<string></string>
	<key>CPDefaultTheme</key>
	<string>Aristo2</string>
	<key>CPHumanReadableCopyright</key>
	<string>Copyright © 1993–2025, Michael Bach, all rights reserved.</string>
	<key>Main cib file base name</key>
	<string>MainMenu.cib</string>
	<key>VersionDate</key>
	<string>2025-05-03</string>
	<key>CFBundleSignature</key>
	<string></string>
	<key>CFBundlePackageType</key>
	<string></string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleShortVersionString</key>
	<string></string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleName</key>
	<string></string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>VersionNumberString</key>
	<string>2.0</string>
</dict>
</plist>
